
.quantitycart{
    display: inline-flex;
    width: 50%;
    height: 40px;
    border: 2px solid #818181;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10px;
    
    position: absolute;
    bottom: 10px;
}

.pnamecart{
    color: black;
    width: 80%;
    padding: 8px;
    padding-top: 3px;
    padding-bottom: 10px;
    padding-right: 2px;
    text-align:left;
    
}

.s{
    margin-bottom: 50px;
}

.quantitycart .minus{
    width: 30%;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}

.quantityno{
    width: 30%;
    text-align: center;
}

.gotocheckout{
    padding:10px;
    background-color: white;
    text-align: center;
}

.gotocheckout p{
    padding: 5px;
}

@media(max-width: 570px){
    .quantitycart{
        width: 80%;
    }
}