.intro{
    position: relative;
}
.home{
    
  background-color: rgb(249, 249, 249);
    margin-top: 80px;
    margin-bottom: 20px;
}
.call{
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
}

.call a{
    font-size: 57px;
    color: red;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    font-style: italic;
    font-weight: bold;
    transition: 1s;
}

.call a:hover{
    font-size: 60px;
    color:rgb(180, 19, 19)
}

.heading{
    width: 100%;
    padding-top: 30px;
}
.heading h2{
    color: black;
    padding: 40px;
}

.col{
    width: 100%;
    display: inline-flex;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
}

.col-child{
    background-color: white;
    display: block;
    width: 23%;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
}

.col-child img{
    width: 100%;
    height:200px
}

.col-child a{
    text-decoration: none;
}

.pname{
    color: black;
    width: 80%;
    padding: 8px;
    padding-top: 3px;
    padding-bottom: 2px;
    padding-right: 2px;
    text-align:left;
    margin-bottom: 30px;
}

.pbrand{
    color: #818181;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
}
.pprice{
    padding: 8px;
    position: absolute;
    bottom: 10px;
}

.swiper {
    width: 100%;
    height: 90vh;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

@media(max-width: 900px){
    .call a{
        font-size: 32px;
    }
    
    .swiper{
        max-height: 70vh;
    }
    .call{
        top: 75%;
    }
    .call a:hover{
        font-size: 40px;
        color:red
    }
        
    .heading h2{
        color: black;
        padding: 20px;
    }

    .col-child{
        width: 30%;
    }

    .col-child img{
        height: 130px;
    }
}


@media(max-width: 500px){
    .col-child{
        width: 47%;
    }
    .col-child img{
        height: 150px;
    }
}

@media(max-width: 350px){
    .col-child{
        width: 90%;
    }
    .col-child img{
        height: 200px;
    }
}