
.heading-shop{
    width: 100%;
    text-align: center;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 20px;
    
    margin-bottom: 20px;
   
}
.heading-shop h2{
    color: black;
    padding: 40px;
    padding-bottom: 10px;
}

.heading-shop p{
    
    color: #818181;
    padding: 130px;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 12px;
}

.filters{
    display: inline-flex;
    width: 100%;
    padding: 20px 10px;
    flex-wrap: wrap;
}

.filters .search{
    width: 60%;
    padding-left: 30px;
}
.search input[type=text] {
    width: 30%;
    height: 50px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
.search input[type=text]:focus {
    width: 60%;
  }

.search button{
    width: 10%;
    height: 50px;
    font-size: 14px;
}

.filters .dropdown{
    width: 40%;
    text-align: center;
}

/* Dropdown Button */
.dropbtn {
    width: 60%;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 15px;
    margin: 0;
    height: 50px;
    background-color: black;
    color: white;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: white;
    color: black;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    width: 60%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content p:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  
@media(max-width: 900px){
    .heading-shop p{
        padding: 10px 15px;
        text-align: justify;
    }

    .heading-shop h2{
        padding: 10px;
        padding-top: 25px;
    }
    .filters{
        padding: 10px;
    }
        
    .filters .dropdown{
        width: 90%;
        margin: 10px;
    }
    .filters .search{
        width: 90%;
        margin-bottom: 10px;
        padding: 10px;
    }
        
    .search input[type=text] {
        width: 80%;
        height: 40px;
        
    } 
    .search input[type=text]:focus {
        width: 80%;
      }
    
    .search button{
        width: 20%;
        
        height: 40px;
    }
    .dropbtn {
        width: 100%;
        font-size: 14px;
        height: 40px;
        
        
    }
    .dropdown-content {
        width: 100%;
    }
}